.col-md-6.col-md-offset-3
  .panel.panel-default
    .panel-body
      %h2.text-center
        Add Tests
      = form_for [:app, :page, @test] do |f|
        .form-group
          = f.label :name
          %br/
          = f.text_field :name, autofocus: true, class: "form-control"
        .form-group
          = f.label :page_code
          %br/
          = f.text_field :page_code, class: "form-control"
        .actions
          = f.submit "Add", class: "btn btn-primary btn-block"
          = link_to "Back", app_page_path(@app, @page), class: "btn btn-default btn-block"