!!!
%html
    %head
        %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
        %title TestingApp
        = csrf_meta_tags
        = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
        = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    %body
        = render "layouts/header"
        .container
            - if notice
                %p.alert.alert-info= notice
            - if alert
                %p.alert.alert-danger= alert
            = yield